.container-year {
  position: relative;
  background-color: #fff;
  max-width: 320px;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.select-btn-year {
  display: flex;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn-year .btn-text-year {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
.select-btn-year .arrow-dwn-year {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  transition: 0.3s;
}
.select-btn-year.open-year .arrow-dwn-year {
  transform: rotate(-180deg);
}
.list-items-year {
  position: relative;
  margin-top: 15px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  display: none;
  max-height: 200px;
  overflow-y: scroll;
}

.select-btn-year.open-year ~ .list-items-year {
  display: block;
}
.list-items-year .item-year {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items-year .item-year:hover {
  background-color: #e7edfe;
}
.item-year .item-text-year {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.item-year .checkbox-year {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item-year.checked .checkbox-year {
  background-color: #4070f4;
  border-color: #4070f4;
}
.checkbox-year .check-icon {
  font-size: 11px;
  transform: scale(0);
  color: white;
}

.item-year.checked .check-icon {
  transform: scale(1);
}
